@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(14, 13, 13, 0.8);
  padding: 2rem;
  width: 40%;
  margin: 4rem auto;
  border-radius: 10px;
  box-shadow: -5px 5px 15px #0000002c;
}

.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.weather__search {
  position: relative;
  display: flex;
  align-items: center;
}

.weather__searchform {
  border: none;
  background-color: #292727;
  outline: none;
  padding: 0.5rem 2.5rem;
  border-radius: 20px;
  color: #ffffff;
  font: inherit;
  padding-left: 40px;
}

.weather__searchform::placeholder {
  color: #ffffff;
}

.weather__search button {
  border: none;
  background: none;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.weather__units {
  font-size: 1.5rem;
}

.weather__units span {
  cursor: pointer;
}

.weather__units span:first-child {
  margin-right: 0.5rem;
}

.weather__units .active {
  font-weight: bold;
  text-decoration: underline;
}

.weather__body {
  text-align: center;
  margin-top: 3rem;
}

.weather__city {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.weather__datetime p {
  margin-bottom: 10px;
}

.weather__forecast {
  margin-top: 2rem;
  font-size: 18px;
  background: #181818;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
}

.weather__icon img {
  width: 100px;
}

.weather__temperature {
  font-size: 3rem;
  margin: 10px 0;
}

.weather__minmax {
  display: flex;
  justify-content: center;
}

.weather__minmax p {
  margin: 1rem;
}

.weather__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}

.weather__card {
  display: flex;
  align-items: center;
  background: #181818;
  padding: 1rem;
  border-radius: 10px;
}

.weather__card i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

@media (max-width: 1060px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 936px) {
  .container {
    width: 90%;
  }

  .weather__header {
    flex-direction: column;
  }

  .weather__units {
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .weather__icon {
    width: 80px;
  }

  .weather__temperature {
    font-size: 2.5rem;
  }

  .weather__info {
    grid-template-columns: 1fr;
  }
}
